@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="user-profile">

    <h1 class="heading">Your Profile</h1>

    <div class="info">

        <div class="user">
            <img src="images/pic-1.png" alt="">
            <h3>Maksim Petrovich</h3>
            <p>Student</p>
        </div>

        <div class="box-container">

            <div class="box">
                <div class="flex">
                    <i class="fas fa-bookmark"></i>
                    <div>
                        <span>4</span>
                        <p>Done homeworks</p>
                    </div>
                </div>
                <a href="#" class="inline-btn">View</a>
            </div>

            <div class="box">
                <div class="flex">
                    <i class="fas fa-heart"></i>
                    <div>
                        <span>33</span>
                        <p>Praise from the teacher</p>
                    </div>
                </div>
                <a href="#" class="inline-btn">View</a>
            </div>

            <div class="box">
                <div class="flex">
                    <i class="fas fa-comment"></i>
                    <div>
                        <span>12</span>
                        <p>Homeworks comments</p>
                    </div>
                </div>
                <a href="#" class="inline-btn">View</a>
            </div>

        </div>
    </div>

</section>
