<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watch</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <style>
        .repl-container {
            width: 100%;
            height: 500px;
            border: 1px solid #ccc;
            margin-top: 20px;
        }
    </style>
</head>

    <div class="side-bar">

        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="images/pic-1.png" class="image" alt="">
            <h3 class="name">Maksim Petrovich</h3>
            <p class="role">Student</p>
            <a href="Profile" class="btn">view profile</a>
        </div>

        <nav class="navbar">
            <a href="Home"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="About"><i class="fas fa-question"></i><span>About</span></a>
            <a href="Courses"><i class="fas fa-graduation-cap"></i><span>Homework</span></a>
            <a href="Contact us"><i class="fas fa-headset"></i><span>Contact us</span></a>
        </nav>

    </div>

    <section class="watch-video">

        <div class="video-container">
            <div class="video">
               
            </div>
            <h3 class="title">Complete PYTHON tutorial (part 06) <br> Write a code</br></h3>
            <div class="info">
                <p class="date"><i class="fas fa-calendar"></i><span>24.04.24</span></p>
            </div>
            <div class="tutor">
                <img src="images/thumb1.png" alt="">
                <div>
                    <h3>Module 2</h3>
                    <span>Python</span>
                </div>
            </div>
            <a href="Playlist1" class="inline-btn">Back</a>
            <p class="description">
                Python uses unique identification for assigning blocks of code (for example, smart constructs, loops, functions, etc.).
                For identification, please select 4 samples. Single tab stops are not recommended as they may cause problems with code readability.
            </p>
        </div>

    </section>

    <section class="comments">

        <h1 class="heading">Coding place</h1>
        <div class="repl-container">
            <iframe height="500px" width="100%" src="https://www.programiz.com/python-programming/online-compiler/?ref=8a8b7662" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
    </section>

    <!-- custom js file link -->
    <script src="js/script.js"></script>
