@{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="courses">
    <h1 class="heading">Our Modules</h1>
    <div class="box-container">
        <div class="box">
            <div class="tutor">
                <div class="info">
                    <h3>Module 1</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/thumb2.jpg" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">What is python #1</h3>
            <a href="~/Playlist" class="inline-btn">view playlist</a>
        </div>

        <div class="box">
            <div class="tutor">
                <div class="info">
                    <h3>Module 2</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/thumb1.png" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">What is Python best for? #2</h3>
            <a href="~/Playlist1" class="inline-btn">view playlist</a>
        </div>

        <div class="box">
            <div class="tutor">
                <div class="info">
                    <h3>Module 3</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/thumb3.png" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">The last but not the least #3</h3>
            <a href="~/Playlist2" class="inline-btn">view playlist</a>
        </div>

        <div class="box">
            <div class="tutor">
                <div class="info">
                    <h3>Coming soon</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/1111.jpg" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">Complete Html tutorial</h3>
        </div>

        <div class="box">
            <div class="tutor">
                <div class="info">
                    <h3>Coming soon</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/1111.jpg" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">Complete CSS tutorial</h3>
        </div>

        <div class="box">
            <div class="tutor">
                <div class="info">
                    <h3>Coming soon</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/1111.jpg" alt="">
                <span>10 videos</span>
            </div>
            <h3 class="title">Complete HTML+CSS tutorial</h3>
        </div>
    </div>
</section>

<!-- custom js file link -->
<script src="~/js/script.js" asp-append-version="true"></script>
