<div class="profile">
    <img src="~/images/pic-1.png" class="image" alt="">
    <h3 class="name">@ViewData["UserName"]</h3>
    <p class="email">@ViewData["UserEmail"]</p>
    <p class="role">Student</p>
    <a href="~/Profile" class="btn">view profile</a>
    <div class="flex-btn">
        <a href="~/Identity/Account/Login" class="option-btn">exit</a>
    </div>
</div>
