<style>
    .user-info {
        text-align: center; /* Центрируем текст */
        font-size: 1.8rem; /* Увеличиваем размер шрифта */
        font-weight: bold; /* Устанавливаем жирное начертание */
    }
</style>

@if (ViewData["UserInfo"] != null)
{
    <div class="user-info">
        @Html.Raw(ViewData["UserInfo"])
    </div>
}
