@{
    ViewData["Title"] = "Watch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="watch-video">
    <div class="video-container">
        <div class="video">
            <video src="images/vid-2.mp4" controls poster="images/post55.png" id="video"></video>
        </div>
        <h3 class="title">Complete PYTHON tutorial (part 02) <br>Test from below</br></h3>
        <div class="info">
            <p class="date"><i class="fas fa-calendar"></i><span>24.04.24</span></p>
        </div>
        <div class="tutor">
            <img src="images/thumb1.png" alt="">
            <div>
                <h3>Module 1</h3>
                <span>Python</span>
            </div>
        </div>
        <form action="" method="post" class="flex">
            <a href="Playlist" class="inline-btn">Back</a>
        </form>
        <p class="description">
            Python uses unique identification for assigning blocks of code (for example, smart constructs, loops, functions, etc.).
            For identification, please select 4 samples. Single tab stops are not recommended as they may cause problems with code readability.
        </p>
    </div>
</section>

<section class="comments">
    <h1 class="heading">3 Test Questions</h1>
    <form action="" class="add-comment">
        <div class="radio-input-container">
            <!-- Ваши тестовые вопросы и варианты ответов здесь -->
        </div>
    </form>
</section>
