@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-grid">
    <h1 class="heading">Quick options</h1>
    <div class="box-container">
        <div class="box">
            <h3 class="title">Homeworks and tasks</h3>
            <p class="likes">Total homeworks : <span>25</span></p>
            <a href="#" class="inline-btn">view</a>
            <p class="likes">Total tasks : <span>12</span></p>
            <a href="#" class="inline-btn">view</a>
            <p class="likes">Done homeworks : <span>4</span></p>
            <a href="#" class="inline-btn">view</a>
        </div>
        <div class="box">
            <h3 class="title">Top categories</h3>
            <div class="flex">
                <a href="#"><i class="fas fa-code"></i><span>Development</span></a>
                <a href="#"><i class="fas fa-chart-simple"></i><span>Business</span></a>
                <a href="#"><i class="fas fa-pen"></i><span>Design</span></a>
                <a href="#"><i class="fas fa-chart-line"></i><span>Marketing</span></a>
                <a href="#"><i class="fas fa-music"></i><span>Music</span></a>
                <a href="#"><i class="fas fa-camera"></i><span>Photography</span></a>
                <a href="#"><i class="fas fa-cog"></i><span>Software</span></a>
                <a href="#"><i class="fas fa-vial"></i><span>Science</span></a>
            </div>
        </div>
        <div class="box">
            <h3 class="title">Popular topics</h3>
            <div class="flex">
                <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
                <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
                <a href="#"><i class="fab fa-js"></i><span>JavaScript</span></a>
                <a href="#"><i class="fab fa-python"></i><span>Python</span></a>
                <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
                <a href="#"><i class="fab fa-bootstrap"></i><span>Bootstrap</span></a>
            </div>
        </div>
        <div class="box">
            <h3 class="title">Be the best</h3>
            <p class="tutor">With us you can learn any language and find a job</p>
        </div>
    </div>
</section>

<section class="courses">
    <h1 class="heading">Modules</h1>
    <div class="box-container">
        <div class="box">
            <div class="tutor">
                <img src="~/images/thumb1.png" alt="">
                <div class="info">
                    <h3>Module 1</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/thumb2.jpg" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">What is Python #1</h3>
            <a href="~/Playlist" class="inline-btn">view playlist</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="~/images/thumb1.png" alt="">
                <div class="info">
                    <h3>Module 2</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/thumb3.png" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">What is Python best for? #2</h3>
            <a href="~/Playlist1" class="inline-btn">view playlist</a>
        </div>
        <div class="box">
            <div class="tutor">
                <img src="~/images/thumb1.png" alt="">
                <div class="info">
                    <h3>Module 3</h3>
                </div>
            </div>
            <div class="thumb">
                <img src="~/images/thumb1.png" alt="">
                <span>10 Lections</span>
            </div>
            <h3 class="title">The last but not the least #3</h3>
            <a href="~/Playlist2" class="inline-btn">view playlist</a>
        </div>
    </div>
    <div class="more-btn">
        <a href="~/Courses" class="inline-option-btn">view all courses</a>
    </div>
</section>

<script src="~/js/script.js" asp-append-version="true"></script>
