@{
    ViewData["Title"] = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="playlist-details">

    <h1 class="heading">Modules details</h1>

    <div class="row">

        <div class="column">
            <div class="thumb">
                <img src="images/thumb2.jpg" alt="">
                <span>10 Lections</span>
            </div>
        </div>

        <div class="column">
            <div class="tutor">
                <img src="images/thumb1.png" alt="">
                <div>
                    <h3>Module 2</h3>
                    <span>25.04.24</span>
                </div>
            </div>

            <div class="details">
                <h3>complete PYTHON tutorial</h3>
                <p>The first course of Python is your first lesson in directly mastering language programming, so you can understand the stagnation in many areas.</p>
                <a class="inline-btn">Lets do this!</a>
            </div>
        </div>

    </div>

</section>

<section class="playlist-videos">

    <h1 class="heading">Lections</h1>

    <div class="box-container">

        <a class="box" href="WatchVideo4">
            <i class="fas fa-play"></i>
            <img src="images/post33.png" alt="">
            <h3>complete PYTHON tutorial (part 04)</h3>
        </a>

        <a class="box" href="WatchVideo5">
            <i class="fas fa-play"></i>
            <img src="images/post22.png" alt="">
            <h3>complete PYTHON tutorial (part 05)</h3>
        </a>

        <a class="box" href="WatchVideo6">
            <i class="fas fa-play"></i>
            <img src="images/post11.png" alt="">
            <h3>complete PYTHON tutorial (part 06)</h3>
        </a>



    </div>

</section>
