<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watch</title>

    <!-- font awesome cdn linkk  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <style>
        .repl-container {
            width: 100%;
            height: 500px;
            border: 1px solid #ccc;
            margin-top: 20px;
        }
    </style>
</head>


<section class="watch-video">

    <div class="video-container">
        <div class="video">
        </div>
        <h3 class="title">Try writing a simple JavaScript Code</h3>
        <div class="info">
            <p class="date"><i class="fas fa-calendar"></i><span>08.06.24</span></p>
        </div>
        <div class="tutor">
            <img src="images/js.png" alt="">
            <div>
                <h3>Topic JavaScript</h3>
                <span>JavaScript</span>
            </div>
        </div>
        <a href="Home" class="inline-btn">Back</a>
        <p class="description">
            JavaScript is the most popular programming language used in the field of website development.<br><br>

            Also, the simple and easy to understand syntax makes JavaScript a good language to start programming.<br><br>

            There is a high demand for JavaScript developers, with opportunities in different roles like front-end, backend, and mobile development. For this reason, it is considered a top language to get a job or internship as a fresher.<br><br>

            Rewrite an easy example:
        </p>
        <img src="images/jspr1.png" alt="">
    </div>
</section>
<section class="comments">

    <h1 class="heading">Coding place</h1>
    <div class="repl-container">
        <iframe height="500px" width="100%" src="https://www.programiz.com/javascript/online-compiler/" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    </div>
</section>

<!-- custom js file link -->
<script src="js/script.js"></script>
